/* General */
@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: #D3D6DB;
  background: #141D26;
  line-height: 1.4;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Transition page*/
#content2 {
  transition: transform 0.2s ease-out;
  transform: scale(0);
}

/* Navigation */
nav {
  height: 50px;
  width: 100%;
  background-color: #fff;
  background: #182430;
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 5;
  border-top: 1px solid #203141;
}

nav a {
  text-decoration: none;
  color: #babec6;
  color: #8899A6;
}

nav a:hover i, nav a:active i, .active{
  color: #03A9F4;
}

.cell {
  flex: 1;
}

/* search-box */
.search-box {
  height: 50px;
  width: 100%;
  background: #1DA1F2;
  background: #243447;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 6;
  position: fixed;
  transition: top 0.3s;
}

.input-box{
  height:70%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #1B95E0;
  background: #141D26;
}

.input-box i {
  color: #fff;
  color: #60778b;
  margin-left: 10px;
}

.input-box input[type=text] {
  height: 100%;
  width: 92%;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  margin-left: 10px;
  background: #1B95E0;
  background: #141D26;
  box-sizing: border-box;
}

.search-box input::placeholder{
  color: #fff;
  color: #60778b;
  font-size: 14px;
}

/* Lapor */
.lapor, .dinas {
  height: 65px;
  background: #fff;
  background: #182430;
  padding: 15px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 50px;
}

.lapor:hover {
  cursor: pointer;
}

.lapor img, .dinas img {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.lapor span {
  color: #a5aab4;
}

/* post */
.post {
  margin-top: 10px;
  color: #2e2e2e;
  color: #e2e2e2;
}

.post:last-child{
  margin-bottom: 55px;
}

.box {
  padding: 1em;
  background: #fff;
  background: #182430;
}

.profil {
  box-sizing:border-box;
}

.profil h1 {
  padding-top: 5px;
  font-size: 16px;
}

.profil p {
  font-size: 12px;
  color: #AFB3BD;
  color: #e2e2e2;
}

.photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ddd;
  float: left;
  margin-right: 10px;
}

.photo img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.detail h1 {
  margin-top: 15px;
  font-size: 18px;
}

.detail span {
  color: #03A9F4;
}

.detail p {
  margin-top: 2px;
  font-size: 14px;
}

.tag{
  margin-top: 10px;
}

.box2 {
  height: 40px;
  border-top: 1px solid #203141;
  background: #fff;
  background: #182430;
  text-align: center;
  color: #8d8f94;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.box2 p{
  height: 100%;
  margin-top: 7px;
  font-size: 14px;
  transition: all ease;
}

.box2 a {
  text-decoration: none;
  color: #8d8f94;
}
.box2 p:hover {
  color: #03A9F4;
  cursor: pointer;
}

.box2 i{
  margin-right: 5px;
}

.row {
  display: flex;
  align-items: center;

}

.col-4, .col-6 {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* post-detail */
.post-detail{
  margin-top: 50px;
}

/* comment */
.comment {
  display: flex;
  padding: 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.cell1{
  width: 50px;
}
.isi-comment {
  flex: 5;
}

.isi-comment h1 {
  font-size: 16px;
}

.isi-comment p {
  font-size: 14px;
}

.isi-comment p:last-child {
  font-size: 12px;
  color: #AFB3BD;
}

.tulis-comment {
  height: 50px;
  width: 100%;
  border-top: 1px solid #e9e2e2;
  border-bottom: 1px solid #e9e2e2;
  background: #fff;
  position: fixed;
  bottom: 50px;
  text-align: center;
}
.tulis-comment input[type=text]{
  height: 100%;
  width: 80%;
  border: none;
  padding: 10px;
  font-size: 14px;
}

.tulis-comment input[type=submit]{
  border: none;
  height: 100%;
  padding: 10px;
  background: none;
  color: #03A9F4;
  font-weight: 600;
}

input:focus {
  outline: none;
}

.tulis-comment input::placeholder {
  font-size: 14px;
  color: #585353;
  letter-spacing: .06em;
}


/* footer */
footer{
  height: 10000px;
}

footer.post-detail-page {
  height: 90px;
}

/* News */
#news, #donation {
  margin-top: 50px;
}
.post img {
  width: 100%;
}

.detail img {
  margin-top: 10px;
}

/* Notification */
.header {
  height: 50px;
  background: #1DA1F2;
  text-align: center;
}

.header h1 {
  color: white;
  font-size: 16px;
  letter-spacing: 0.06em;
  padding-top: 15px;

}

.notif {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.notif:last-child {
  margin-bottom: 50px;
}

.notif img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.notif-content {
  padding: 5px;
}

.notif-content p:last-child {
  font-size: 12px;
  color: #868686;
  margin-top: 5px;
}

/* Login */
#login {
  height: 100vh;
  background: #1DA1F2;
  display: flex;
  flex-wrap: wrap;
}
.logo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 50%;
  margin-top: 100px;
}
.form{
  text-align: center;
  flex: 100%;
}
.form input{
  width: 90%;
  height: 40px;
  border: none;
  padding: 10px;
  padding-left: 15px;
}


.form input::placeholder{
  letter-spacing: 0.03em;
}

.form input[type=submit] {
  margin-top: 20px;
  background: rgba(255,255,255,.25);
  color: #fff;
  letter-spacing: 0.05em;
}

.form input[type=button] {
  margin-top: 10px;
  background: none;
  color: #fff;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0.05em;
}

#form-signUp {
  display: none;
}

/* Donation */
.donasi {
  height: 40px;
  border-top: 1px solid #eee;
  background: #fff;
  color: #212121;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.donasi img {
  width: 20px
}

#donation input[type=button] {
  width: 100%;
  height: 40px;
  border: none;
  background: #1DA1F2;
  color: #fff;
  letter-spacing: 0.05em;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    z-index: 99;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 10;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

/* Srollbar */
::-webkit-scrollbar {
  width: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #1DA1F2;
}
